body {
    background-color: rgb(21, 23, 42);
    color: rgb(221, 221, 221);
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: system-ui;
}


@media only screen and (max-device-width: 480px) {
    body {
        background-color: rgb(21, 23, 42);
        height: 100%;
        width: 100%;
        margin-top: 40%;
        padding: 0px;
        justify-content: start;
    }

    html {
        height: 100%;
        width: 100%;
    }

    #rope {
        position: fixed;
        top: 0%;
        left: 8%;
        width: 300px;
    }


    #titletext {
        font-size: 65px;
        margin-bottom: 3%;
    }

    #userinput {
        width: 40%;
        margin-top: 3%;
        margin-bottom: 5%;

    }

    #userinput:focus {
        width: 50%;
        box-shadow: 8px 8px black;
    }

    .letters {
        margin-bottom: 8%;
    }

    #langmessage {
        font-size: 18px;
    }

    #buttons {
        margin-bottom: 20px;
    }

    /* Github Header */
    #githeading {
        background-color: red;
        height: 1%;
        margin: 2%;
        width: 12%;
        border-radius: 10px;
        color: black;
        justify-content: center;
        justify-items: center;
        align-items: center;
        display: flex;
        gap: 5%;
        padding: 5px;
        transition: all .2s ease-in-out;
    }

    #githeading:hover {
        transform: scale(1.05);
    }

    #githeading img {
        width: 15%;
        opacity: 1;
    }

    #githeading h4 {
        margin: 0px;
        cursor: pointer;
        font-size: 18px;
    }

    #githeading a {
        text-decoration: none;
        color: black;
    }
}


#rope {
    position: fixed;
    top: 0%;
    left: 8%;
    z-index: 1;
}

#hangicon {
    position: fixed;
    bottom: 0;
    right: 15%;
    width: 300px;
    border-top: 3px solid black;
}

h1 {
    font-size: 44px;
    color: white;
    text-shadow: 3px 3px rgb(128, 46, 195);
    margin-bottom: 5px;
}

#game {
    display: flex;
    gap: 100px;
    align-items: center;
}

#word {
    font-size: 40px;
    letter-spacing: 6px;
}

button {
    padding: 10px 25px;
    cursor: pointer;
    font-size: 16px;
    border: none;
    border-radius: 7px;
    box-shadow: 5px 5px purple;
    margin: 5px;
    transition: all .2s ease-in-out;
}

button:hover {
    background-color: rgb(200, 206, 206);
    transform: scale(1.04);
}

button:disabled {
    background-color: rgb(192, 192, 192);
    color: rgb(34, 34, 34);
    box-shadow: 5px 5px rgb(151, 79, 151);
    transition: all .5s ease-in-out;
}

button:disabled:hover {
    transform: none;
}

textarea {
    width: 25%;
    height: 60px;
    padding: 12px 20px;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #c5c5c5;
    font-size: 16px;
    resize: none;
    margin: 2%;
    outline: none;
    box-shadow: 10px 10px 10px black;
    transition: all .5s ease-in-out;
}

textarea:focus {
    width: 30%;
    box-shadow: 8px 8px black;
}

#messagesdiv span {
    margin-left: 30px;

}

#messagesdiv {
    color: white;
    font-size: 21px;
    padding: 5px;
    display: flex;
    justify-content: center;
    width: 30%;
}

#tried {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.letters {
    background-color: rgb(106, 10, 98);
    padding: 15px;
    display: flex;
    flex-direction: column;
    width: 250px;
    justify-content: top;
    align-items: center;
    box-shadow: 4px 4px black;
}

.letters h3 {
    margin: 0px;
    font-size: 24px;
}

.letters span {
    font-size: 22px;
    color: rgb(190, 190, 190);
    margin-top: 15px;

}

#buttons {
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 10px;
}

#lang {
    cursor: pointer;
    transition: all .2s ease-in-out;
}

#lang:hover {
    transform: scale(1.1);
}

#langmessage {
    margin-top: 10px;
}


/* Github Header */
#githeading {
    background-color: white;
    height: 1%;
    margin: 2%;
    width: 12%;
    border-radius: 10px;
    color: black;
    justify-content: center;
    justify-items: center;
    align-items: center;
    display: flex;
    gap: 5%;
    padding: 5px;
    transition: all .2s ease-in-out;
}

#githeading:hover {
    transform: scale(1.05);
}

#githeading img {
    width: 15%;
    opacity: 1;
}

#githeading h4 {
    margin: 0px;
    cursor: pointer;
    font-size: 18px;
}

#githeading a {
    text-decoration: none;
    color: black;
}