@font-face {
    font-family: delargo;
    src: url(/main-page/content/delargo.ttf);
}

body {
    background-color: #1b1c1a;
    color: rgb(255, 255, 255);
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: system-ui;
}


#elements {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 1%;
    padding: 10px 10px;
    align-items: center;
    justify-content: center;
    width: 60%;
    background-color: rgb(60, 57, 57);
    border-radius: 10px;
    box-shadow: 6px 6px rgb(21, 21, 21);
}

#sortdiv {
    justify-content: center;
    align-items: center;
    display: flex;
}

#sort {
    padding: 6px 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    font-size: 19px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 10%;
    border: none;
    box-shadow: 4px 4px black;
}


#sort:hover {
    transform: scale(1.05);
}

#sort img {
    width: 28px;
    height: auto;
}

h1 {
    font-family: delargo;
    letter-spacing: 4.5px;
    font-size: 40px;
    font-weight: 600;
}

h1 span {
    color: #F0DB4F;
    text-shadow: 4px 4px #a112a5;
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 23px;
    padding: 0;

}

#title img {
    width: 5%;
    border-radius: 10px;
    transition: all .3s ease-in-out;
}

#title img:hover {
    transform: scale(1.07);
    box-shadow: 0px 0px 20px rgb(188, 173, 0);
}

#subtitle {
    font-size: 20px;
}

#container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 60%;
    gap: 5%;
    margin: 1%;
    padding: 1%;
    align-items: center;
    text-align: center;
}

#eachdiv {
    width: 95%;
    cursor: pointer;
    box-shadow: 4px 4px #a112a5;
    background-color: rgb(218, 218, 218);
    border-radius: 6px;
    padding: 6% 3%;
    transition: all .2s ease-in-out;
}

#eachdiv:hover {
    transform: scale(1.02);
    box-shadow: 9px 9px #d2b604;

}

#eachdiv img {
    width: 250px;
    height: 150px;
    border-radius: 6px;
}

#eachdiv span {
    color: black;
    font-size: 20px;
    font-weight: 600;
}


.difficulty {
    width: 70%;
    height: auto;
    margin-top: 2%;
    align-items: center;
    align-self: center;
    margin: 2% auto 2% auto;
    background-color: #ffffff;
    color: black;
    border-radius: 6px;
}

.difficulty div {
    width: 100%;
    height: 12px;
    border-radius: 6px 6px 6px 6px;
}

/* Common Github Heading */
#heading {
    background-color: white;
    width: 70%;
    border-radius: 10px;
    color: black;
    justify-content: center;
    justify-items: center;
    align-items: center;
    justify-self: center;
    display: flex;
    gap: 5%;
    margin: 0px;
    padding: 5px;
    transition: all .2s ease-in-out;
    box-shadow: 6px 6px black;
}


#heading:hover {
    transform: scale(1.05);
}

#heading img {
    width: 10%;
}

#heading h3 {
    margin: 0;
}

#heading a {
    text-decoration: none;
    color: black;
}

/* FOOTER */
#footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2%;
    gap: 2%;
    padding: 1%;
    flex-direction: row;
    border-top: 2px solid rgb(110, 110, 110);
}

#footer img {
    width: 5%;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

#footer img:hover {
    transform: scale(1.1);
}

#footer span {
    font-size: 18px;
    font-weight: 500;
}