body {
    background-color: rgb(21, 23, 42);
    color: rgb(255, 255, 255);
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: system-ui;
}

header {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 30%;
}

header h1 {
    margin: 3% 10% 1% 10%;
    text-shadow: 2px 2px rgb(190, 5, 119);
}

header h2 {
    color: rgb(212, 212, 81);
}

#errormsg {
    color: rgb(255, 93, 93);
    margin: 0;
    transition: all 1s ease-in-out;
}

/* TEXTAREA */
#usertext {
    width: 80%;
    height: 170px;
    padding: 12px 20px;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #e4e4e4;
    font-size: 18px;
    resize: none;
    box-shadow: 15px 15px 4px rgba(127, 157, 248, 0.088);
    transition: all .2s ease-in-out;

}

/* TEXTAREA */
#usertext:focus {
    outline: none;
    box-shadow: 8px 8px 4px rgba(127, 157, 248, 0.257);

}

/* TEXTAREA */
#usertext::placeholder {
    color: black;
}


/* BUTTON */
#usersubmit {
    padding: 2% 3%;
    background-color: #c572dc;
    border: 1px solid rgb(67, 3, 94);
    font-size: 15px;
    font-weight: 600;
    border-radius: 2px;
    box-shadow: 10px 10px rgba(32, 191, 191, 0.479);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

/* BUTTON */
#usersubmit:hover {
    background-color: #e483ff;
    box-shadow: 6px 6px rgb(39, 169, 169);
}

/* RESULTS TABLE */
#content {
    align-items: center;
}

table {
    border-collapse: collapse;
    width: 15%;
    color: black;
    background-color: rgb(197, 197, 197);
    font-size: 16px;
    box-shadow: 10px 10px red;
    position: fixed;
    left: 8%;
    top: 10%;
}

td,
th {
    border: 1px solid #030303;
    text-align: center;
    padding: 18px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

/* Common Github Heading */
#heading {
    background-color: white;
    margin-top: 2%;
    width: 30%;
    border-radius: 10px;
    color: black;
    justify-content: center;
    justify-items: center;
    align-items: center;
    display: flex;
    gap: 5%;
    padding: 5px;
    transition: all .2s ease-in-out;
    box-shadow: 6px 6px black;
}

#heading:hover {
    transform: scale(1.05);
}

#heading img {
    width: 15%;
}

#heading h3 {
    margin: 0;
}

#heading a {
    text-decoration: none;
    color: black;
}